.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .inputBodyContainer {
    position: relative;
    margin-top: 2.5rem;
    width: 100%;
    display: flex;

    .inputBodyInner {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
}