$light-primary-1: #0047FF;
$light-primary-2: #336CFF;
$light-primary-3: #6590FF;
$light-primary-4: #a1bafa;
$light-primary-5: #c9cffa;

$dark-primary-1: #c9cffa;
$dark-primary-2: #a1bafa;
$dark-primary-3: #6590FF;
$dark-primary-4: #336CFF;
$dark-primary-5: #0047FF;

$dark-1: #000000;
$dark-2: #222222;
$light-1: #ffffff;
$light-2: #eeeeee;

$primary-background-1: #000033;

$light-background-1: #F2F2F2;
$light-background-2: #E7E7E7;

$dark-background-1: #1A1A1A;
$dark-background-2: #222326;

$light-gray-1: #D3D4D8;
$light-gray-2: #ABACB2;
$light-gray-3: #747579;
$light-gray-4: #313234;

$dark-gray-1: #333439;
$dark-gray-2: #515358;
$dark-gray-3: #797A81;
$dark-gray-4: #cccccc;

$text-1: #6C757D;